@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    background-color: #F5F6FA;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Gotu', sans-serif;
    padding: 0px;
    margin: 0px;
}
hr{
    padding: 0px 0px!important;
    margin: 8px 0px!important;
}
/*menu bar css start*/

#mynav {
    left: 0px;
    right: 0;
    background: #101924;
    width: 230px;
    height: 100vh;
    color: white;
    z-index: 99;
    position: fixed;
    transition: .3s;
    float: left;
}

#mynav #navopen {
    background: black;
    padding: 5px 10px;
    width: 80px;
    left: 15px;
    top: 10px;
    text-align: center;
    margin: 0px auto;
    z-index: -1;
    cursor: pointer;
    position: fixed;
    visibility: hidden;
}

#navclose {
    background: black;
    width: 20px;
    text-align: center;
    float: right;
    cursor: pointer;
}


#mynav .logo {
    padding: 23px 0px;
    width: 170px;
    margin-left: 15px!important;
}

#mynav .adminimage {
    border-radius: 5px;
    margin-bottom: 5px;
    border: 2px solid white;
}

#mynav h3 {
    text-align: center;
}

#mynav ul {
    background: #101924;
}

#mynav ul li {
    list-style-type: none;
}

#mynav ul li a {
    text-decoration: none;
    border-bottom: 1px solid #b7c2d0;
    display: block;
    padding: 10px 10px;
    color: #b7c2d0;
    transition: .3s;
}

#mynav ul li a:hover {
    color: gray;
}


/*menu bar css end*/


/*Right top css Start*/

.right_box {
    width: calc(100% - 230px);
    margin-left: auto;
    height: auto;
    background-color: #F5F6FA;
}

.right_box .top_nav {
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    color: #798BFF;
    border-bottom: 1px solid gray;
}

.right_box .top_nav h2 {
    color: #798BFF;
    padding-left: 10px;
    padding-top: 13px;
    font-weight: bold;
}

.right_box .top_nav form {}

.right_box .top_nav input.form-contorl {
    width: 84%;
    border: 0px;
    border-radius: 3px;
    padding: 4px 10px;
    margin-right: -7px;
}

.right_box .top_nav button {
    margin-left: 0px;
    padding: 4px 8px;
    color: blue;
    border: 0px;
}

.right_box .top_nav .myform {
    margin: 12px 0px;
}

.right_box .top_nav .myicon {
    height: auto;
    width: auto;
}

.right_box .top_nav .myicon ul {
    margin: 0px 10px;
    padding: 0px;
    float: right;
}

.right_box .top_nav .myicon ul li {
    list-style-type: none;
    display: inline-block;
    margin: 20px 5px;
    position: relative;
}

.right_box .top_nav .myicon ul li a {
    padding: 4px 6px;
    color: #798BFF;
    position: relative;
    font-size: 16px;
}
.right_box .top_nav .myicon ul li a:after {
    position: absolute;
    content: "";
    top:9px;
    left:14px;
    width: 7px;
    height: 7px;
    background-color: #09C2DE;
    border-radius: 150px;
}

.right_box .top_nav img{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: 2px solid #798BFF;
    margin-top:5px;
    margin-right: 15px;
}
.right_box .top_nav p{
    margin:0px 10px;
    padding:0px;
    margin-top: 3px;
}
.right_box .top_nav h6{
     margin:0px 10px;
    padding:0px;
    font-weight: bold;
    color: black;
}
.right_box .top_nav .forInfo{
    position: relative;
    cursor: pointer;
}
.right_box .top_nav .info{
    z-index: 100;
    position: absolute;
    width: 200px;
    background-color: #101924;
    border-top: 3px solid #798BFF;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    padding:10px;
    border-radius: 5px;
}
.right_box .top_nav .info ul{
    margin: 0px;
    padding: 0px;
}
.right_box .top_nav .info ul li{
    list-style-type: none;
    padding-left: 20px;
    border-bottom: 1px solid #798BFF;
}
.right_box .top_nav .info ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.right_box .top_nav .info ul li a{
    padding: 10px 0px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #b7c2d0;
}
.right_box .top_nav .info ul li a:hover{
    color:white;
}
.right_box .top_nav .forInfo:hover .info{
    visibility: visible;
    opacity: 1;
    top: 105%;
}
/*Right top css end*/
.main{
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #80808054;
}
.studentPage{}
.studentPage ul{}
.studentPage ul li{
    list-style-type: none;
    display: inline-block;
}
.studentPage ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #101924;
    border-radius: 3px;
    color: #A4CFFF;
    margin-right: 3px;
    display: block;
}
#allStudent{
    display: block;
}
#allApproveStudent{
    display: none;
}
#allPendingStudent{
    display: none;
}
.studentPage ul li a#allstd{
    color:white; 
    background:#798BFF;
}

#studentHold{
    display: none;
}




.uniPage ul {padding: 0px;}
.uniPage ul li{
    list-style-type: none;
    display: inline-block;
}
.uniPage ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #101924;
    border-radius: 3px;
    color: #A4CFFF;
    margin-right: 3px;
    display: block;
}
#alluni{
    display: block;
}
#allPendinguni{
    display: none;
}
#allApproveuni{
    display: none;
}
.uniPage ul li a#allsuni{
    color:white; 
    background:#798BFF;
}

#universityHold{
    display: none;
}


/*modarator css start*/

.quta{
    overflow: hidden;
    padding: 10px;
    height: auto;
    width: 100%;
}
.quta .inner{
    width: 80%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px  rgba(0,0,0,.2);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}
/*modarator css end*/
/*Right hero area css start*/

.right_box .hearo_area {
    overflow: hidden;
    padding: 10px;
}
.right_box .hearo_area a{
    text-decoration: none;
    margin-bottom: 10px;
}

.right_box .hearo_area .box {
    overflow: hidden;
    background: #343A40;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 100%;
}
.col-lg-4.col-md-4 {
    margin-bottom: 10px;
}
.right_box .hearo_area .box h1{
    font-size: 150%;
    margin-top: 5%;
}
.right_box .hearo_area .box h6{
    font-size: 100%;
}
.right_box .hearo_area .box i {
    font-size: 55px;
    margin-top: 25%;
}


/*Right hero area css end*/
/*Right chat area css start*/

.chat {
    overflow: hidden;
    padding: 10px;
}

.main_box {
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 5px 5px 10px gray;
}

.chat .left_box {
    float: left;
    height: 550px;
    width: 30%;
    overflow: hidden;
}

.chat .left_box .user_box {
    padding: 10px 5px;
    border-bottom: 1px solid black;
}

.chat .left_box img {
    height: 40px;
    width: 40px;
    border-radius: 150px;
    border: 2px solid white;
    float: left;
    margin-right: 5px;
}

.chat .left_box h6 {
    margin: 0px;
}

.chat .left_box p {
    color: gray;
    margin: 0px;
}

.chat .left_box .user_box p.unred {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.chat .right_box {
    float: left;
    height: 100%;
    width: 70%;
    border-left: 2px solid black;
    overflow: hidden;
}

.right_box .disply_name {
    height: 11%;
    background: black;
    color: white;
    padding: 10px;
}

.right_box .disply_name img {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 150px;
    float: left;
    margin-right: 10px;
}

.right_box .disply_name p {
    margin: 7px 0px;
}

.right_box .disply_name h6 {
    color: green;
    margin: 10px 0px;
}

.right_box .disply_name i {
    color: color;
    text-align: right;
    margin: 10px 0px;
    display: block;
    font-size: 20px;
}

.chat .right_box .show_text {
    height: 82%;
    width: 100%;
    background: gray;
    padding: 15px;
}

.chat .right_box .show_text p {
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
}

.chat .right_box .show_text p.admin {
    color: blue;
    background: white;
}

.chat .right_box .send_text {
    height: 20%;
    width: 100%;
}

.chat .right_box .send_text .text {
    width: 90%;
    float: left;
}

.chat .right_box .send_text .send {
    float: left;
    width: 10%;
    background-color: black;
    height: 100%;
}

.chat .right_box .send_text .send form {}

.chat .right_box .send_text .send i {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 3px 0px;
}


/*Right chat area css end*/




/*payment page css start*/

.right_box .payment {
    height: auto;
    overflow: hidden;
    padding: 10px;
}

.right_box .payment img.plogo {
    height: 15%;
    width: 60%;
    margin-left: 20%;
}

.right_box .payment img.proc {
    height: 90%;
    width: 94%;
    margin-left: 5%
}

.right_box .payment input[type="text"] {
    width: 85%;
    border-radius: 3px;
    border: 1px solid #E3106E;
    padding: 15px 17px;
    margin-top: 10%;
}

.right_box .payment button.btn.btn-warning {
    width: 80%;
    margin-top: 10px;
    background: #E3106E;
    color: white;
    font-size: 30px;
}


/*payment page css end*/

/*Profile page css start*/
.profile{
    overflow: hidden;
    height: auto;
}
.profile .mykaj{
    width: 100%;
    margin-top: 5%;
    font-size: 13px;
    float: right;
}
.profile .mykaj2{
    width: 48%;
    margin-top: 5%;
    margin-right: 2%;
    float: left;
    font-size: 13px;
}
.profile .mmt{
    margin-top: 5px;
}
.profile .top{
    background: url('../img/bg.jpg') no-repeat;
    height:auto;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.profile .top:after{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: -1;
}
.profile .zin{
    z-index: 99;
}
.profile .top .zin img{
    border-radius: 150px;
    height: 140px;
    width: 140px;
    border: 4px solid white;
    padding: 2px;
    margin: 2% 0%;
    background: red;
    float:right!important;
}
.profile .top .zin h1{
    margin-top: 2%;
}
.profile .top .zin button.btn.btn-danger {
    width: 85%;
    margin: 17% 5%;
    font-size: 30px;
}
.profile .secnd_part{
    margin: 10px;
    box-shadow: -2px 2px 13px grey;
    border-radius: 3px;
    padding: 20px 40px;
    display: block;
}
.profile .secnd_part .box{
    border-right: 1px solid blue;
}
.profile .secnd_part .box2{
    padding-left: 40px;
}
.profile .secnd_part .box p{
    
}
.profile .count{}
.profile .pr_bar{
    width: 257px;
    height: 20px;
    background: red;
    border-radius: 20px;
    margin-top: 2%;
    padding: 3px;
}
.profile .pr_bar .pr{
    width: 15%;
    height: 15px;
    background: green;
    border-radius: 20px;
}
.profile .cmpt_prof{
    width: calc(100% - 200px);
    height: auto;
    position: absolute;
    top: auto;
    left:auto;
    padding: 10px;
    overflow: hidden;
}
.profile .cmpt_prof .basic{
    width: 90%;
    margin: 0px auto;
    height: auto;
    box-shadow: 3px 1px 10px gray;
    padding: 70px;
    border-radius: 5px;
    display: none;
}
.profile .cmpt_prof .parentsLocal{
    width: 90%;
    margin: 0px auto;
    height: auto;
    box-shadow: 3px 1px 10px gray;
    padding: 70px;
    border-radius: 5px;
    display: none;
}
.profile .cmpt_prof .anothergur{
    width: 90%;
    margin: 0px auto;
    height: auto;
    box-shadow: 3px 1px 10px gray;
    padding: 70px;
    border-radius: 5px;
    display: none;
}
.profile .cmpt_prof .academi{
    width: 90%;
    margin: 0px auto;
    height: auto;
    box-shadow: 3px 1px 10px gray;
    padding: 70px;
    border-radius: 5px;
    display: none;
}
/*Profile page css end*/
/*apply page css start*/
.apply{
    padding: 10px;
    overflow: hidden;
}
.apply .selectuni{
    margin-top: 5%;
    margin-left: 5%;
}
/*apply page css end*/
/*Prospectus page css start*/
.pros{
    padding: 10px;
    overflow: hidden;
}
/*Prospectus page css end*/
.index{}
.index h2{
    color: #364A63;
    margin: 0px;
    padding: 0px;
}
.index p{
    color: #798BFF;
    margin: 0px;
    padding: 0px;
}
.index .left{
    height: 450px;
    width: 95%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px;
}
.index .right_top{
    height: 210px;
    width: 100%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px;
}
.index .right_bottom{
    height: 220px;
    width: 100%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px;
}



.index a.float-right.btn.btn-info{
   background-color:white;
    color: #A4CFFF; 
    border: none;
}

.index .left img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

.index button.btn.btn-info{
    background-color:#101924;
    color: #A4CFFF; 
    font-size: 13px;
}

input.p-3.form-control.form-control-sm.mr-3 {
    padding: 20px 10px!important;
    margin-right: 50px;
}

.modarator{}
#outer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(12 ,129,255, 0.29);
    z-index: 200;
    top:0;
    left:0;
    display: none;
    transform:scale(.2);
    transition: .3s;
}
#outer .add_modarator{
    height: auto;
    width: 40%;
    background-color: white;
    border: 3px solid #101924;
    margin-top: 20px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    top: 10%;
    left:35%;
}

#outer .add_modarator button.btn.btn-success {
    color: #818BFF;
    background-color: #101924;
    width: 100%!important;
    padding: 10px;
}
.modarator .myModarator{
    height: auto;
    width: 95%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}
.modarator .myModarator img{
    width: 120px;
    height: 100px;
    border-radius: 3px;
    border:3px solid #798BFF;
}



.modarator .wantapprove{
    height: auto;
    width: 97%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}
.modarator .wantapprove .box{
    padding: 10px;
    border: 1px solid #7777773d;
    border-radius:2px;
    overflow: hidden;
    box-shadow: 10px 7px 38px -19px rgba(0,0,0,0.75);
}
.modarator .wantapprove .box img{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.modarator .approved{

}

.modarator .myModarator button.btn.btn-danger {
    font-size: 12px;
}

.modarator .myModarator button.btn.btn-info {
    font-size: 12px;
}
.modarator .myModarator a.asd {
    font-size: 12px;
    background-color: #101924;
    color: #8F8BFF;
}
.modarator .myModarator button.btn.btn-success {
    font-size: 12px;
}

.modarator .myModarator button.btn.btn-warning {
    font-size: 12px;
    color: white;
}
.modarator .wantapprove .box button.btn.btn-danger {
    font-size: 12px;
}


.modarator .wantapprove .box button.btn.btn-info {
    font-size: 12px;
}


input.form-control.my-0.py-1.red-border {
    border: 1px solid #798BFF;
}

span#basic-text1 {
    border: 1px solid #798BFF;
}

button.btn.btn-success {
    width: 100%;
}

a.btn.btn-secondary {
    font-size: 12px;
}

nav.mymgpg{
    margin-top: 30px!important;
}

.allModarator {
    height: auto;
    width: 100%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 40px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}

.allModarator button.btn.btn-danger, .allModarator button.btn.btn-info, .allModarator button.btn.btn-success {
    font-size: 12px;
    width: auto;
}

#outer #cros {
    color: white;
    background: #101924;
    width: 4%;
    padding: 10px 20px;
    margin-left: 76%;
    margin-top: 3%;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}


/*Rightadmin and notice area css start*/

.notice{}
.notice .inner{
    height: auto;
    width: 95%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin-top: 20px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}



.notice ul li{
    list-style-type: none;
    display: inline-block;
}
.notice ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #101924;
    border-radius: 3px;
    color: #A4CFFF;
    margin-right: 3px;
    display: block;
}

#showall{
    display: block;
}
#showstd{
    display: none;
}
#showuni{
    display: none;
}
#addnt{
    display: none;
}

#apnotic{
    display: none;
}

#addnt .box{
    width: 60%;
    margin: 0px auto;
    height: auto;
    border: 1px solid #101924;
    border-radius: 3px;
    padding: 30px;
    margin-top: 20px;
}

.notice ul li a#allnotice{
    color:white; 
    background:#798BFF;
}


#addnt input.btn {
    width: 100%;
    background: #101924;
    color: white;
    padding:8px;
    font-size:18px;
}

#noticeEdit .box{
    width: 50%;
    margin: 5% auto;
    height: auto;
    border: 1px solid #101924;
    border-radius: 3px;
    padding: 30px;
    
}

#noticeEdit input.btn {
    width: 100%;
    background: #101924;
    color: white;
    padding:8px;
    font-size:18px;
}





button.btn.btn-info {
    font-size: 12px;
}

 button.btn.btn-warning {
    font-size: 12px;
    color: white;
}
 button.btn.btn-danger {
    font-size: 12px;
}


 button.btn.btn-info {
    font-size: 12px;
}




a.btn.btn-info {
    font-size: 12px;
}

a.btn.btn-warning {
    font-size: 12px;
    color: white;
}
a.btn.btn-danger {
    font-size: 12px;
}


 a.btn.btn-info {
    font-size: 12px;
}
 a.btn.btn-success {
    font-size: 12px;
}




.showNotice .inner {
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    border: 1px solid #80808054;
    width: 60%;
    margin:5% auto;
}

.showNotice .inner  img{
    width: 550px;
    margin-bottom: 20px;
}

.editmodarator {
    height: auto;
    width: 50%;
    background-color: white;
    border: 1px solid #dbdfea;
    margin:30px auto;
    border-radius: 3px;
    border: 3px solid black;
    padding: 20px;
    overflow: hidden;
}


.editmodarator .btn-warning{
    width: 100%;
    padding: 5px;
    font-size: 20px!important;

}

.vmd .inner {
    width: 45%;
    background: white;
    padding: 10px;
    margin: 5% 30%;
    border: 3px solid black;
    border-radius: 3px;
}

.viewStudent{}
.viewStudent .inner{
    width: 70%;
    height: auto;
    margin: 5% auto;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #80808054;
}

.viewStudent .inner img.proimg {
    width: 400px;
    margin-bottom: 20px;
}


.showNotice img.img-thumbnail {
    width: 200px!important;
}


#myprodile{

}
#myprodile .inner{
    margin: 8% auto;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #80808054;
    width: 60%;
}

#approvepayment{
    display: block;
}
#pendingpayments{
    display: none;
}
#rejectpayment{
    display: none;
}

.uniPage ul li a#allpa{
    color: white;
    background: #798BFF;
}




#showpayment .inner{
    margin: 8% auto;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #80808054;
    width: 50%;
}

    





